{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

<div>
  <h2 class="text-center" style="margin-top: 0.5rem;">{{ post.title }}</h2>
  <div class="text-center" style="margin: 1.5rem 0">
    <span style="margin: 0 1rem"><a href="{{ url_for('user.show_user', id=post.author.id) }}">{{ post.author.username }}</a></span>
    <span style="margin: 0 1rem">{{ post.mtime }}</span>
    <span style="margin: 0 1rem">{{ post.read }} read</span>
  </div>
  {% if post.content_type == 'md' %}
    <div style="font-size: 1.75rem; padding: 0;">{{ post.content|markdown }}</div>
  {% else %}
    <div style="font-size: 1.75rem; padding: 0;">{{ post.content|safe }}</div>
  {% endif %}
  <br>
  <div class="text-center">
    {% for tag in post.tags %}
      <a href="{{ url_for('post.show_tag', id=tag.id) }}" class="badge" style="margin: 0 0.5rem;">{{ tag.name }}</a>
    {% endfor %}
  </div>

  {% if current_user.is_authenticated %}
    <br><br>
    <div class="text-center">
        {% if not current_user.has_starred(post) %}
          <a class="btn btn-info" style="margin: 0 0.5rem" href="{{ url_for('post.star_post', id=post.id) }}">Star<span class="badge" style="padding: 0.2rem 0.4rem; margin-left: 0.5rem;">{{ post.stars.count() }}</span></a>
        {% else %}
          <a class="btn btn-info" style="margin: 0 0.5rem" href="{{ url_for('post.unstar_post', id=post.id) }}">Unstar<span class="badge" style="padding: 0.2rem 0.4rem; margin-left: 0.5rem;">{{ post.stars.count() }}</span></a>
        {% endif %}
      {% if current_user == post.author %}
        <a class="btn btn-warning" style="margin: 0 0.5rem" href="{{ url_for('post.edit_post', id=post.id) }}">Edit</a>
        <a class="btn btn-danger" style="margin: 0 0.5rem" href="{{ url_for('post.delete_post', id=post.id) }}">Delete</a>
      {% endif %}
    </div>
  {% endif %}
</div>

<br><br>
<div>
  {% if current_user.is_authenticated %}
    <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      <div class="form-group required">
        <textarea class="form-control" id="content" name="content" required></textarea>
      </div>
      {{ wtf.form_field(form.submit) }}
    </form>
    <br>
  {% endif %}
  <div>{{ post.comments.count() }} comments</div>
  {% for comment in post.comments %}
    <div class="card" id="comment-{{ loop.index0 + 1 }}" style="margin: 1rem 0; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);">
      <div class="card-body" style="padding: 0.5rem 1rem 0.25rem 1rem">
        <div class="card-title mb-1">{{ comment.content }}</div>
        <div class="text-right">
          <span style="margin-left: 1.5rem"><a href="{{ url_for('user.show_user', id=comment.author.id) }}" class="card-link text-muted">{{ comment.author.username }}</a></span>
          <span style="margin-left: 1.5rem" class="small text-muted">{{ comment.time }}</span>
          <span style="margin-left: 1.5rem"><a class="small text-muted" href="#comment-{{ loop.index0 + 1 }}">#{{ loop.index0 + 1 }}</a></span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
