{% extends "admin/base.html" %}

{% block app_content %}
  <h1>Select Users</h1>

  <form action="" method="get" class="form" role="form">
    <input type="hidden" name="a" value="select">
    <div class="row text-right">
      <div class="col-xs-11">
        <input type="text" name="q" class="form-control" value="{{ query }}">
      </div>
      <div class="col-xs-1">
        <input type="submit" class="btn btn-primary" value="Select">
      </div>
    </div>
  </form>
  <br>

  {% include 'admin/users_table.html' %}
  {% include 'pagination.html' %}

{% endblock %}
