  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
        <th scope="col">posts</th>
        <th scope="col">followings</th>
        <th scope="col">followers</th>
        <th scope="col">sent_mails</th>
        <th scope="col">received_mails</th>
        <th scope="col">comments</th>
        <th scope="col">profile</th>
        <th scope="col">stars</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.posts.count() }}</td>
          <td>{{ user.followings.count() }}</td>
          <td>{{ user.followers.count() }}</td>
          <td>{{ user.sent_mails.count() }}</td>
          <td>{{ user.received_mails.count() }}</td>
          <td>{{ user.comments.count() }}</td>
          <td>{{ user.profile.id }}</td>
          <td>{{ user.stars.count() }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>